/* Tela Inicial */

* {
  font-family: 'Chakra Petch', sans-serif;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: rgb(177, 0, 0) url('../imagens/painel2-removebg.png');
  background-size: 50%;

  min-width: 850px;
  min-height: 600px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

p {
  font-size: 1.6rem;
}

header h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 3px 4px rgb(12, 1, 1);
}

/*Formulário para Inciar o Jogo*/

#configuracoes-jogo {
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid black;
}

#primeiro-jogador {
  text-align: center;
}

#segundo-jogador {
  text-align: center;
}

#container-botao-iniciar {
  padding-top: 5%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#botao-iniciar {
  font-size: 20px; 
  transition: transform 200ms ease-in-out;
  color: black;
  background-color: white;
  cursor: pointer;
}
  
#botao-iniciar:hover {
  transform: scale(1.05);
}

#tabuleiro{
  text-align: center;
}


#nome-jogador {
  font-size: 16px; 
}


label[for="nome-jogador"] {
  font-size: 16px; 
  background-color: white;
}

#simbolo-jogador {
  font-size: 16px;
}

label[for="simbolo-jogador"] {
  font-size: 16px;
  background-color: white;

}

#dimensoes-tabuleiro {
  font-size: 16px;
}

label[for="dimensoes-tabuleiro"] {
  font-size: 16px;
  background-color: white;
}

#painel-jogo {
  padding: 1rem;
  background-image: url('../imagens/painel2.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 2rem;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  border: 5px solid black;
}

#container-botoes-interface {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

#botao-jogar, #botao-regras {
  border: 1px solid black;

  font-size: 3.2rem;
  font-weight: bold;

  color: white;
  background-color: rgb(177, 0, 0);
  padding: 1.5rem 3rem;

  border-radius: 3rem;

  cursor: pointer;
}

#botao-reiniciar, #botao-voltar {
  border: 1px solid black;

  font-size: 1.5rem;
  font-weight: bold;

  color: white;
  background-color: rgb(177, 0, 0);
  padding: 0.5rem 1rem;

  border-radius: 1rem;

  cursor: pointer;
}

.botao-sorteio {
  border: 1px solid black;

  font-size: 1.2rem;
  font-weight: bold;

  color: black;
  background-color: white;
  padding: 0.5rem 1rem;

  border-radius: 1rem;

  cursor: pointer;
}

#botao-jogar:hover, #botao-regras:hover {
  animation: animacao-botao .5s alternate infinite;
}

@keyframes animacao-botao {
  from {  
    padding: 1.5rem 3rem;
    font-size: 3.2rem;
    color: white;
  }
  to {
    padding: 1.75rem 3.5rem;
    font-size: 3.6rem;
    color: #000000;
  }
}

::-webkit-scrollbar {
  width: 1px;
}

@media screen and (min-width: 1200px) {
  /* Estilos para telas de desktop mais largas */
  header h1 {
    font-size: 30px;
  }
}
