* {
  font-family: 'Chakra Petch', sans-serif;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: rgb(32, 63, 7);

  min-width: 850px;
  min-height: 600px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

h1 {
  font-size: 3.2rem;
  background-color: rgb(32, 63, 7);

}

p {
  font-size: 1.6rem;
}

header h1 {
  color: white;
  font-weight: bold;
  text-shadow: 3px 4px rgb(12, 1, 1);
}


#primeiro-jogador {
  text-align: center;
}

#segundo-jogador {
  text-align: center;
}

#tabuleiro{
  text-align: center;
}


#nome-jogador {
  font-size: 16px; 
}


label[for="nome-jogador"] {
  font-size: 16px; 
  background-color: white;
}

#simbolo-jogador {
  font-size: 16px;
}

label[for="simbolo-jogador"] {
  font-size: 16px;
  background-color: white;

}

#dimensoes-tabuleiro {
  font-size: 16px;
}

label[for="dimensoes-tabuleiro"] {
  font-size: 16px;
  background-color: white;
}

#painel-jogo {
  padding: 1rem;
  background-image: url('../imagens/painel2.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 2rem;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  border: 5px solid transparent;
  border-image: linear-gradient(180deg, black,#00ff00,#0099ff,#001aff,#a200ff,#ff0055,#ff0000,#ffff00,#00ff00,#0099ff,#001aff,black);
  border-image-slice: 1;

}


#botao-iniciar {
  width: 450px;
  height: 50px;
  font-size: 20px; 
  background-color: rgb(32, 63, 7);
  transition: transform 200ms ease-in-out;
}

#botao-iniciar:hover {
  transform: scale(1.05);
}



#container-botoes-interface {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

#botao-jogar, #botao-regras {
  border: 1px solid black;

  font-size: 3.2rem;
  font-weight: bold;

  color: white;
  background-color: rgb(32, 63, 7);
  padding: 1.5rem 3rem;

  border-radius: 3rem;

  cursor: pointer;
}

#botao-reiniciar, #botao-voltar {
  border: 1px solid black;

  font-size: 1.5rem;
  font-weight: bold;

  color: white;
  background-color: rgb(32, 63, 7);
  padding: 0.5rem 1rem;

  border-radius: 1rem;

  cursor: pointer;
}

.botao-sorteio {
  border: 1px solid black;

  font-size: 1.2rem;
  font-weight: bold;

  color: black;
  background-color: white;
  padding: 0.5rem 1rem;

  border-radius: 1rem;

  cursor: pointer;
}

#botao-jogar:hover, #botao-regras:hover {
  animation: animacao-botao .5s alternate infinite;
}

#botao-reiniciar:hover, #botao-voltar:hover, .botao-sorteio:hover {
  animation: animacao-botao2 .5s alternate infinite;
}

@keyframes animacao-botao {
  from {  
    padding: 1.5rem 3rem;
    font-size: 3.2rem;
    color: white;
  }
  to {
    padding: 1.75rem 3.5rem;
    font-size: 3.6rem;
    color: #000000;
  }
}


@keyframes animacao-botao2 {
  from {  
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: rgb(10, 10, 10);
  }
  to {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: white;
  }
}

::-webkit-scrollbar {
  width: 1px;
}