/* Tela Inicial */

* {
  font-family: 'Chakra Petch', sans-serif;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

 /* A parte da pagina que fica atrás do painel principal do jogo */
body {
  background: rgb(177, 0, 0) url('../img/painel2-removebg.png'); /* Deixa a página em um tom vermelho e integou-se uma imagem nela. */
  background-size: 50%; 

  min-width: 850px;
  min-height: 600px;

  display: flex;
  flex-direction: column;

  align-items: center;
}

p {
  font-size: 1.6rem;
}

/* Trata-se da parte do Título do jogo.*/
header h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 3px 4px rgb(12, 1, 1);
}

/*Formulário para Inciar o Jogo*/

#configuracoes-jogo {
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid black;
}

#primeiro-jogador {
  text-align: center; /* Deixa o campo do formulário do primeiro-jogador no centro da página */
}

#segundo-jogador {
  text-align: center; /* Deixa o campo do formulário do segundo-jogador no centro da página.*/
}

#container-botao-iniciar { /* Refere-se a parte da localização que o botão inicial ocupa.*/
  padding-top: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#botao-iniciar { /* Refere-se ao botão inicial. */
  font-size: 40px; 
  transition: transform 200ms ease-in-out;
  color: black;
  background-color: white;
  cursor: pointer;
  border-radius: 10px; /* Faz a borda fica arredondada.*/
}
  
#botao-iniciar:hover { 
  transform: scale(1.05); /* Esta configuração permite criar um efeito que aumenta o botão ao passar o mouse por cima */
}

#tabuleiro{
  text-align: center; /* Permite que o nome "Tabuleiro" fique no centro do painel.*/
}


#nome-jogador {
  font-size: 16px; /* Tamanho do campo de preenchimento do formulário referente ao nome. */
}


label[for="nome-jogador"] { /* Refere-se a nomenclatura "nome" do formulário */
  font-size: 16px; /* Tamanho da nomenclatura */
  background-color: white; /* Cor que destaca-se como uma cor de fundo. */
}

#simbolo-jogador { 
  font-size: 16px;/* Tamanho do campo de preenchimento do formulário referente aos simbolos.  */
}

label[for="simbolo-jogador"] { /* Refere-se a nomeclatura "simbolo" do formulário */
  font-size: 16px; /* Tamanho */
  background-color: white; /* Cor que se destaca como uma cor no fundo */

}

#dimensoes-tabuleiro {
  font-size: 16px; /* Refere-se ao tamanho do campo da "dimensão" */
}

label[for="dimensoes-tabuleiro"] { /* Refere-se ao tamanho do nomenclatura "dimensão". */
  font-size: 16px; /* Tamanho */
  background-color: white; /* Cor de fundo. */
}

#painel-jogo { /* Refere-se ao painel do jogo. */
  padding: 1rem;
  background-image: url('../img/painel2.png'); /* Adiciona a imagem do painel principal */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin-bottom: 2rem;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  border: 5px solid black;
}

#container-botoes-interface {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

#botao-jogar, #botao-regras {
  border: 1px solid black;

  font-size: 3.2rem;
  font-weight: bold;

  color: white;
  background-color: rgb(177, 0, 0);
  padding: 1.5rem 3rem;

  border-radius: 3rem;

  cursor: pointer;
}

#botao-reiniciar, #botao-voltar {
  border: 1px solid black;

  font-size: 1.5rem;
  font-weight: bold;

  color: white;
  background-color: rgb(177, 0, 0);
  padding: 0.5rem 1rem;

  border-radius: 1rem;

  cursor: pointer;
}

.botao-sorteio {
  border: 1px solid black;

  font-size: 1.2rem;
  font-weight: bold;

  color: black;
  background-color: white;
  padding: 0.5rem 1rem;

  border-radius: 1rem;

  cursor: pointer;
}

#botao-jogar:hover, #botao-regras:hover {
  animation: animacao-botao .5s alternate infinite;
}

@keyframes animacao-botao {
  from {  
    padding: 1.5rem 3rem;
    font-size: 3.2rem;
    color: white;
  }
  to {
    padding: 1.75rem 3.5rem;
    font-size: 3.6rem;
    color: #000000;
  }
}

::-webkit-scrollbar {
  width: 1px;
}

@media screen and (min-width: 1200px) {
  /* Estilos para telas de desktop mais largas */
  header h1 {
    font-size: 30px;
  }
}
